.home_cards {
  justify-content: space-between;
}

.cards_wrapper {
  box-sizing: border-box;
  padding:50px 0 50px 0;
}

.card {
  width: 29%;
  min-height: 200px;
  background-color: white;
  border-radius: 7px;
  border: none;
  box-sizing: border-box;
  padding: 40px 25px 40px 25px;
  color: #CD5C5C;
  text-align: center;
}

.card_title {
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px dashed #CD5C5C;
  margin-bottom: 5px;
}

.home_buttons {
  position: absolute;
  top:80%;
  left:50%;
  transform:translate(-50%, 0%);
}
