<div class="banner">
  <div class="container">
<div class="containerhomepage">
    <h1>The first goat rental with the most <strong>hungry</strong><h1>
    <h1>and <strong>heavy </strong>pooper goats</h1>
    <p>Forget about pesticides and field fertilizers, make your life easy,
    put a goat in your life.</p>
</div>

<div class="home_buttons">
    <%= link_to "Discover all goats", goats_path, class: "btn-goat see_all m-2" %>
    <%= link_to "List your goat", new_goat_path, class: "btn-goat add m-2" %>
</div>
</div>
</div>

<div class="cards_wrapper bg-bisque py-10">
<div class="container">
<div class="home_cards d-flex">
    <div class="card2 shadow">
    <div class="card_title">Save Money in Pesticides</div>
    <div class="card_desc">Don't waste more money in pesticides and take care of the planet.
    Let the goats do what they like to do! Eat and poo!</div>
    </div>

    <div class="card2 shadow">
    <div class="card_title">No More Field Ferilizer</div>
    <div class="card_desc">Thanks to our world-class goat poo your field will
     be become more fertil than ever. And the best of it, it's organic!</div>
    </div>

    <div class="card2 shadow">
    <div class="card_title">Feed Your Goats For Free</div>
    <div class="card_desc">Don't spend more money feeding your goats and let others
    feed them while they pay you for feeding them. Win-win-win!</div>
    </div>
  </div>
</div>
</div>

<div class="footer">
 <h4 class="footer_title">Follow us</h4>
 <div class="social_links">
 <%= image_tag "instagram.png", class: "instagram" %>
 </div>
</div>
