
<div class="navbar navbar-expand-sm navbar-light navbar-goat_it">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo"src="logo" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://pbs.twimg.com/profile_images/434320631006375936/KZlTIOJ6_400x400.png" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">see the goats</a>
              <a class="dropdown-item" href="#">Add a goat</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://static.vecteezy.com/ti/photos-gratuite/p2/7189430-drole-de-chevre-de-montagne-gros-plan-sur-une-ferme-d-hiver-photo.jpg);">
  <div class="containerhomepage">
    <h1>You can rent <strong>beautifun and cute goats</strong><h1>
    <h1>for <strong>all reason you want</strong>!</h1>
    <p>You can have whool, milk, try an horn massage or just enjoy a cuddle time with our goat</p>

  </div>
</div>
