.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url('https://img5.goodfon.com/original/1920x1200/f/7f/kozy-priroda-leto.jpg');
  padding: 150px 0;
  height: calc(100vh - 56px);
}

.containerhomepage {
  position: absolute;
  top: 250px;
  color: #CD5C5C;
  background-color: rgba(255, 228, 196, 0.6);
  display: block;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;
  width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.containerhomepage p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

.bg-bisque{
  background-color:#FFE4C4 ;
  color: #CD5C5C;
}
