.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: calc(100vh - 56px);
}

.container{
  margin-top: 60px;
  margin-right: 60px;
  color: #CD5C5C;
  background-color:#FFFAF0;
  display: center;
}
