.btn-goat{
text-align: center;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
display: inline-block;
font-size: 18px;
border: none;
}

.add {
  background-color: white;
  color: #CD5C5C;
}

.see_all {
 color: white;
 background-color: #CD5C5C;
 margin-left: 0 !important;
 margin-bottom: 8px !important;
}

.btn {
  --bs-btn-color: #ffffff !important;
}

.see_all:hover {
  color: white !important;
  background-color: #CD5C5C !important;
  margin-left: 0 !important;
 }

 .see_all a {
  color: white !important;
 }
