.navbar-goat_it {
  justify-content: space-between;
  background:#CD5C5C;
}

.navbar-goat_it .navbar-collapse {
  flex-grow: 0;
}

.navbar-goat_it .navbar-brand img {
  height: 40px;
  width: auto;
}

.navbar-brad a {
  padding: 0 !important;
  margin: 0 !important;
}

.nav-link {
  font-size: 16px;
  color: white;
}
