<div class="container my-5">
  <div class="row justify-content-center">
    <div class="card shadow col-8 p-4">
        <h1>Want to edit <%= @goat.name %> ?</h1>
        <%= render "form" %>
    </div>
  </div>
</div>
